<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form autocomplete="off"
          novalidate
          [formGroup]="profileForm"
          (ngSubmit)="onSubmit(profileForm.value)"
          >
      <div class="form-group"
           [ngClass]="{'profile-error': getErrorCSSClass('firstName'), 'profile-error_pattern': getPatternErrorCSSClass('firstName')}">
        <em class="profile-error__required">Required</em>
        <em class="profile-error__pattern">Must start with a letter</em>
        <label for="firstName">First Name:</label>
        <input id="firstName"
          type="text"
          class="form-control"
          placeholder="First Name..."
          formControlName="firstName"/>
      </div>
      <div class="form-group"
           [ngClass]="{'profile-error': getErrorCSSClass('lastName')}">
        <em class="profile-error__required">Required</em>
        <label for="lastName">Last Name:</label>
        <input id="lastName"
          type="text"
          class="form-control"
          placeholder="Last Name..."
          formControlName="lastName"/>
      </div>

      <button type="submit"
        class="btn btn-primary">
        Save
      </button>
      <button type="button"
        class="btn btn-default"
        (click)="cancel()">
        Cancel
      </button>
    </form>
  </div>
</div>
