<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Duration</th>
      <th>Level</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Testing Angular 4 Workshop</td>
      <td>4</td>
      <td>Beginner</td>
    </tr>
    <tr>
      <td>Testing Angular 4 Workshop</td>
      <td>4</td>
      <td>Beginner</td>
    </tr>
    <tr>
      <td>Testing Angular 4 Workshop</td>
      <td>4</td>
      <td>Beginner</td>
    </tr>
    <tr>
      <td>Testing Angular 4 Workshop</td>
      <td>4</td>
      <td>Beginner</td>
    </tr>
  </tbody>
</table>
