<div [hidden]="visibleSession?.length">
  <hr/>

  <h4>
    No data
  </h4>
</div>

<div class="row"
  *ngFor="let session of visibleSession">
  <div class="col-md-12">
    <events-collapsible-well>
      <div data-well-title>
        {{session.name}}
        <i *ngIf="session.voters.length > 3"
            class="glyphicon glyphicon-fire"
            style="color: red"></i>
      </div>
      <div data-well-body>
        <h6>{{session.presenter}}</h6>
        <span>Duration: {{session.duration | duration}}</span><br />
        <span>Level: {{session.level}}</span>
        <p>{{session.abstract}}</p>
      </div>
    </events-collapsible-well>
</div>
