<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form autocomplete="off"
        #loginForm="ngForm"
        (ngSubmit)="onLogin(loginForm.value)">
    <div class="form-group">
      <label for="userName">User Name:</label>
      <em class="login-error"
          *ngIf="loginForm.controls.userName?.invalid && (loginForm.controls.userName?.touched || mouseoverLogin)">Required</em>
      <input id="userName"
             type="text"
             class="form-control"
             placeholder="User Name..."
             (ngModel)="userName"
             name="userName"
             required />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <em class="login-error"
          *ngIf="loginForm.controls.userPassword?.invalid && (loginForm.controls.userPassword?.touched || mouseoverLogin)">Required</em>
      <input id="password"
             type="password"
             class="form-control"
             placeholder="Password..."
             (ngModel)="userPassword"
             name="userPassword"
             required />
    </div>
    <span (mouseenter)="mouseoverLogin=true"
          (mouseleave)="mouseoverLogin=false">
      <button type="submit"
              class="btn btn-primary"
              [disabled]="loginForm.invalid">
        Login
      </button>
    </span>
    <button type="button"
            class="btn btn-default"
            (click)="onCancel()">
      Cancel
    </button>
  </form>
</div>
